---
import { Icon } from "astro-icon/components";

---
<script>
    import "./Navbar.css";
</script>
<nav class="nav--container">
    <button class="btn btn--menu" aria-expanded="false" aria-label="Open mobile nav">
        <Icon name="hamburgerMenu" />
    </button>
    <div class="nav--logos">
        <div class="nav--logo">
            <Icon id="nav--logo" name="logo"/>
        </div>
        <div class="nav--socials">
            <a class="nav--social" href="https://www.instagram.com/sourcedanahata/">
                <Icon name="instagram"/>
            </a>
            <a class="nav--social" href="https://www.instagram.com/sourcedanahata/">
                <Icon name="facebook"/>
            </a>
        </div>
    </div>
    <ul class="nav--links" role="navigation">
        <li><a class="nav--link" href="/">Accueil</a></li>
        <li><a class="nav--link" href="/soins-corps">Soins corps</a></li>
        <li><a class="nav--link" href="/maderotherapie">Madérothérapie</a></li>
        <li><a class="nav--link" href="/soins-duo">Soins duo</a></li>
        <li><a class="nav--link" href="/soins-visage">Soins visage</a></li>
        <li><a class="nav--link" href="/epilation">Épilation</a></li>
        <li><a class="nav--link" href="/onglerie">Onglerie</a></li>
    </ul>
</nav>
<script>
    const navBtn = document.querySelector('.btn--menu')!;
    const navLinks = document.querySelector('.nav--links')!;
    navBtn.addEventListener('click', () => {
        navLinks.classList.toggle('nav--links-open');
    });
</script>