---

---

<footer>
  <small>Copyright © <span id="copyrightYear"></span> - Tous droits réservés</p>
</footer>
<script>
    document.querySelector('#copyrightYear')!.textContent = new Date().getFullYear().toString();
</script>